venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment variables
# .env

# VSCode settings
.vscode/

# macOS files
.DS_Store
db.sqlite3
*.pyc
